.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

.blue-box {
    display: flex;
    border: 2px black solid;
    padding: 40px 60px;
    background: hsl(256, 37%, 24%);
    width: 80%;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.blue-box h1 {
    color: white;
    width: 60%;
}

.view-plans-2 {
    color: white;
    border: 1px solid white;
    padding: 10px;
}

@media screen and (max-width: 790px) {
    .blue-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}