.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

button {
    cursor: pointer;
}

.menu-item {
    display: none;
}

ul li {
    list-style: none;
}

.nav-menu {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
}
  
.nav-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-item:hover {
    color: rgb(34, 34, 134);
}

.view-plans {
    padding: 15px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: transparent;
    color: hsl(256, 26%, 20%);
    border: 1px hsl(256, 26%, 20%) solid;
}

.view-plans:hover {
    background: hsl(256, 26%, 20%);
    color: white;
}

.box-shadow {
    width: 100%;
    justify-content: flex-end;
}


@media screen and (max-width: 750px) {
    .navbar {
        display: flex;
        flex-direction: column;
    }

    .mobile-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 95vh;
        position: absolute;
        top: 82px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        justify-content: flex-start;
        padding-top: 30px;
      }
    
      .nav-menu.active {
        background-color: hsl(270, 9%, 17%);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 111;
      }

    .box-shadow {
        display: flex;
        flex-direction: column;
        text-align: center;
        background: salmon;
        width: 100%;
    }

    .menu-item {
        display: block;
        border: 2px black solid;
        padding: 10px;
        cursor: pointer;
    }
    .nav-item {
        color: white;
        text-transform: uppercase;
        font-weight: 700;
        cursor: pointer;
    }

    .nav-item:hover {
        color: gray;
    }

    .view-plans {
        width: 80%;
        background: transparent;
        border: 2px white solid;
        color: white;
    }
    .view-plans:hover {
        color: hsl(270, 9%, 17%);
        background: white;
    }
}